<html>
  <head>
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: 07.03.15, 19:27</p>
      <h2><a href="">My first post</a></h2>
      <p>And this is the made-up content of my first blog post, which actually wont contain much, right now</p>
    </div>

    <div>
      <p>published: 07.03.15, 19:29</a></p>
      <h2><a href="">My second post</a></h2>
      <p>This is the super lame and unimaginative content of my second blog post tonight.</p>
    </div>
    
  </body>
</html>
